.m-auto{
  margin: 0 auto 0 auto !important;
  padding: 0 15px 0 15px;
}
.under-lined{
  text-decoration: underline;
}
.btn-style{
}
.m-b-10{
  margin-bottom: 10px;
}
.btn-primary {
  color: #fff;
  background-color: #90EE90;
  border-color: #90EE90;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color:#228B22;
  border-color:#228B22;
}
.filter-text{
  font-weight: bold;
  font-size: 16px;
}
