<div class="row">
  <div class="col-sm-12 col-md-4 col-xl-4 card-style" *ngFor="let launch of allLaunches" >
<div class="card" style="min-width:15rem">
  <img class="card-img-top" [defaultImage]="launch.links.mission_patch_small" [lazyLoad]="launch.links.mission_patch" [useSrcset]="true" alt="Card image cap"/>
  <div class="card-body">
    <h5 class="card-title">{{launch.mission_name}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>
</div>
